@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

select {
  padding: 5px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .App {
    margin: 10px;
    padding: 10px;
  }

  label {
    margin-right: 5px;
  }

  select {
    padding: 3px;
    margin-right: 5px;
  }
}
